.preprocessor {
    -fx-fill:#B10DC9;
    -fx-font-weight: bold;
}
.boolean {
    -fx-fill:#85144B;
    -fx-font-weight: bold;
}
.float {
    -fx-fill:#FFFFFF;
    -fx-font-weight: bold;
}
.decimal-number {
    -fx-fill:#AAAAAA;
    -fx-font-weight: bold;
}
.hexadecimal-number {
    -fx-fill:#111111;
    -fx-font-weight: bold;
}
.keywords {
    -fx-fill:#001F3F;
    -fx-font-weight: bold;
}
.globals {
    -fx-fill:#0074D9;
    -fx-font-weight: bold;
}
.locals {
    -fx-fill:#7FDBFF;
    -fx-font-weight: bold;
}
.operators {
    -fx-fill:#39CCCC;
    -fx-font-weight: bold;
}
.types {
    -fx-fill:#3D9970;
    -fx-font-weight: bold;
}
.commonmacros {
    -fx-fill:#2ECC40;
    -fx-font-weight: bold;
}
.comment {
    -fx-fill:#01FF70;
    -fx-font-weight: bold;
}
