.double-quoted-string {
    -fx-fill:#0074D9;
    -fx-font-weight: bold;
}
.single-quoted-string {
    -fx-fill:#7FDBFF;
    -fx-font-weight: bold;
}
.line-comment {
    -fx-fill:#39CCCC;
    -fx-font-weight: bold;
}
.keysymbol {
    -fx-fill:#3D9970;
    -fx-font-weight: bold;
}
.number {
    -fx-fill:#2ECC40;
    -fx-font-weight: bold;
}
.keyword {
    -fx-fill:#01FF70;
    -fx-font-weight: bold;
}
.variable {
    -fx-fill:#FFDC00;
    -fx-font-weight: bold;
}
.state {
    -fx-fill:#FF851B;
    -fx-font-weight: bold;
}
.include-directive {
    -fx-fill:#FF4136;
    -fx-font-weight: bold;
}
.boolean-value {
    -fx-fill:#F012BE;
    -fx-font-weight: bold;
}
.gtkrc {
    -fx-fill:#B10DC9;
    -fx-font-weight: bold;
}
