.header {
    -fx-fill:#111111;
    -fx-font-weight: bold;
}
.options {
    -fx-fill:#001F3F;
    -fx-font-weight: bold;
}
.comment {
    -fx-fill:#0074D9;
    -fx-font-weight: bold;
}
.sections {
    -fx-fill:#7FDBFF;
    -fx-font-weight: bold;
}
.italic {
    -fx-fill:#39CCCC;
    -fx-font-weight: bold;
}
.bold {
    -fx-fill:#3D9970;
    -fx-font-weight: bold;
}
.verbatim {
    -fx-fill:#2ECC40;
    -fx-font-weight: bold;
}
.verbatim-block {
    -fx-fill:#01FF70;
    -fx-font-weight: bold;
}
.t2t {
    -fx-fill:#FFDC00;
    -fx-font-weight: bold;
}
