.apricotDialog{
    -fx-background-color: #f9d900;
}
.apricotDialog > *.button-bar > *.container{
    -fx-background-color: #FFFFFF;
}
.apricotDialog > *.label.content{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.apricotDialog:header *.header-panel{
    -fx-background-color: #f9d900;
}
.apricotDialog:header *.header-panel *.label{
    -fx-font-size: 24px;
    fx-font-weight: bold;
}