.line-comment {
    -fx-fill:#FF4136;
    -fx-font-weight: bold;
}
.block-comment {
    -fx-fill:#F012BE;
    -fx-font-weight: bold;
}
.close-comment-outside-comment {
    -fx-fill:#B10DC9;
    -fx-font-weight: bold;
}
.keywords {
    -fx-fill:#85144B;
    -fx-font-weight: bold;
}
.attributes {
    -fx-fill:#FFFFFF;
    -fx-font-weight: bold;
}
.dot {
    -fx-fill:#AAAAAA;
    -fx-font-weight: bold;
}
