.if0-comment {
    -fx-fill:#AAAAAA;
    -fx-font-weight: bold;
}
.include {
    -fx-fill:#111111;
    -fx-font-weight: bold;
}
.preprocessor {
    -fx-fill:#001F3F;
    -fx-font-weight: bold;
}
.openmp-directives {
    -fx-fill:#0074D9;
    -fx-font-weight: bold;
}
.string {
    -fx-fill:#7FDBFF;
    -fx-font-weight: bold;
}
.line-comment {
    -fx-fill:#39CCCC;
    -fx-font-weight: bold;
}
.operators {
    -fx-fill:#3D9970;
    -fx-font-weight: bold;
}
.keywords {
    -fx-fill:#2ECC40;
    -fx-font-weight: bold;
}
.read-write {
    -fx-fill:#01FF70;
    -fx-font-weight: bold;
}
.input-output {
    -fx-fill:#FFDC00;
    -fx-font-weight: bold;
}
.intrinsics {
    -fx-fill:#FF851B;
    -fx-font-weight: bold;
}
.types {
    -fx-fill:#FF4136;
    -fx-font-weight: bold;
}
.type-attributes {
    -fx-fill:#F012BE;
    -fx-font-weight: bold;
}
.attributes {
    -fx-fill:#B10DC9;
    -fx-font-weight: bold;
}
.floating-point-number {
    -fx-fill:#85144B;
    -fx-font-weight: bold;
}
.decimal {
    -fx-fill:#FFFFFF;
    -fx-font-weight: bold;
}
.boz-literal {
    -fx-fill:#AAAAAA;
    -fx-font-weight: bold;
}
.fortran {
    -fx-fill:#111111;
    -fx-font-weight: bold;
}
