.function {
    -fx-fill:#001F3F;
    -fx-font-weight: bold;
}
.type {
    -fx-fill:#0074D9;
    -fx-font-weight: bold;
}
.keywords {
    -fx-fill:#7FDBFF;
    -fx-font-weight: bold;
}
.types {
    -fx-fill:#39CCCC;
    -fx-font-weight: bold;
}
.self {
    -fx-fill:#3D9970;
    -fx-font-weight: bold;
}
.boolean {
    -fx-fill:#2ECC40;
    -fx-font-weight: bold;
}
.number {
    -fx-fill:#01FF70;
    -fx-font-weight: bold;
}
.scope {
    -fx-fill:#FFDC00;
    -fx-font-weight: bold;
}
.macro {
    -fx-fill:#FF851B;
    -fx-font-weight: bold;
}
.lifetime {
    -fx-fill:#FF4136;
    -fx-font-weight: bold;
}
.string-escape {
    -fx-fill:#F012BE;
    -fx-font-weight: bold;
}
.byte-string-escape {
    -fx-fill:#B10DC9;
    -fx-font-weight: bold;
}
.raw-string {
    -fx-fill:#85144B;
    -fx-font-weight: bold;
}
.string {
    -fx-fill:#FFFFFF;
    -fx-font-weight: bold;
}
.byte-string {
    -fx-fill:#AAAAAA;
    -fx-font-weight: bold;
}
.char {
    -fx-fill:#111111;
    -fx-font-weight: bold;
}
.byte {
    -fx-fill:#001F3F;
    -fx-font-weight: bold;
}
.attribute {
    -fx-fill:#0074D9;
    -fx-font-weight: bold;
}
.rust {
    -fx-fill:#7FDBFF;
    -fx-font-weight: bold;
}
